In [17]:
import pandas as pd

data = pd.DataFrame({'col1' : ['a','a','b','c']})
data

  col1
0    a
1    a
2    b
3    c

In [13]:
data['col2'] = ''
for i in range(len(data)):
    if data.loc[i,'col1'] == 'a':
        data.loc[i,'col2'] = 'ㄱ'
    elif data.loc[i,'col1'] == 'b':
        data.loc[i,'col2'] = 'ㄴ'
    elif data.loc[i,'col1'] == 'c':
        data.loc[i,'col2'] = 'ㄷ'
data

  col1 col2
0    a    ㄱ
1    a    ㄱ
2    b    ㄴ
3    c    ㄷ

In [29]:
data['col2'] = ''
for i in range(len(data)):
    if data.iloc[i,0] == 'a':
        data.iloc[i,1] = 'ㄱ'
    elif data.iloc[i,0] == 'b':
        data.iloc[i,1] = 'ㄴ'
    elif data.iloc[i,0] == 'c':
        data.iloc[i,1] = 'ㄷ'
data

  col1 col2
0    a    ㄱ
1    a    ㄱ
2    b    ㄴ
3    c    ㄷ

In [28]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print(df.loc[0:1])               # Selects the row with label 'X'
print(df.loc[:, 'B'])            # Selects the column with label 'B'
# print(df,'\n')
# print(df.iloc[0])            # Selects the first row
# print(df.iloc[:, 1])         # Selects the second column
# print(df.iloc[0:2, 1:3])     # Selects a subset of rows and columns

   A  B  C
0  1  4  7
1  2  5  8
0    4
1    5
2    6
Name: B, dtype: int64

In [22]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['X', 'Y', 'Z'])
print(df.loc['X'])               # Selects the row with label 'X'
print(df.loc[:, 'B'])            # Selects the column with label 'B'
print(df.loc['X':'Y', 'B':'C'])   # Selects a subset of rows and columns

A    1
B    4
C    7
Name: X, dtype: int64
X    4
Y    5
Z    6
Name: B, dtype: int64
   B  C
X  4  7
Y  5  8

In [37]:
condition1 = data['col1']=='a'
condition2 = data['col1']=='b'
condition3 = data['col1']=='c'

data.loc[condition1,'col2']='ㄲ'
data

  col1 col2
0    a    ㄲ
1    a    ㄲ
2    b    ㄴ
3    c    ㄷ

In [22]:
a=5
data=[]
for i in range(a):
    data.append([[int(bool(i//(a-4))), int(bool(i//(a-2)))],\
                 [int(bool(i//(a-3))), int(bool(i//(a-1)))]])
data

[[[0, 0], [0, 0]],
 [[1, 0], [0, 0]],
 [[1, 0], [1, 0]],
 [[1, 1], [1, 0]],
 [[1, 1], [1, 1]]]

In [17]:
[int(bool(i//a-3)) for i in range(5)]

[1, 1, 1, 1, 1]

In [20]:
a = 5
data = [
    [
        [int(bool(i // (a - 4))), int(bool(i // (a - 2)))],
        [int(bool(i // (a - 3))), int(bool(i // (a - 1)))]
    ]
    for i in range(a)
]
data

[[[0, 0], [0, 0]],
 [[1, 0], [0, 0]],
 [[1, 0], [1, 0]],
 [[1, 1], [1, 0]],
 [[1, 1], [1, 1]]]