In [ ]:
db = {}

# 검색 횟수 입력
Q = int(input())

# 검색과 DB 관리
for _ in range(Q):
    string = input().strip()  # 입력 문자열

    # 문자열이 DB에 있는지 확인하고 있으면 제거, 없으면 추가
    if string in db:
        del db[string]
    else:
        db[string] = True

# DB에 등록된 문자열 개수 출력
print(len(db))

In [3]:
# O(1) 복잡도
db={}
db['god'] = True
print(db)
del db['god']
print(db)

{'god': True}
{}

In [5]:
# O(n) 복잡도
db = []
db.append('god')
print(db)
db.remove('god')
print(db)

['god']
[]

In [ ]:
# 초기 변수 설정
string_to_id = {}  # 문자열을 ID로 매핑하는 딕셔너리
id_to_score = {}   # ID를 score로 매핑하는 딕셔너리
current_id = 0     # 현재 문자열에 할당된 ID

# 쿼리 횟수 입력
Q = int(input())

# 쿼리 수행
for _ in range(Q):
    query = input().split()
    string = query[0].lower()  # 소문자로 변환하여 문자열 추출
    score = int(query[1])

    # 문자열이 이미 등록된 경우
    if string in string_to_id:
        id = string_to_id[string]
        id_to_score[id] = max(id_to_score[id], score)
    else:
        current_id += 1
        string_to_id[string] = current_id
        id_to_score[current_id] = score

    # ID와 score 출력
    print(string_to_id[string], id_to_score[string_to_id[string]])

In [21]:
# 파일을 읽기 모드로 열기
with open('input.txt', 'r') as file:
    # 파일 내용을 한 줄씩 읽어서 리스트에 저장
    lines = file.readlines()

# 각 줄 출력
for line in lines:
    print(line.strip())  # 줄 바꿈 문자를 제거하여 출력

12
register 1 10 1 1 1
register 2 100 2 3 4
register 3 1 5 5 10
register 4 200 0 0 0
register 5 5 10 10 20
hire_min
update 2 0 30
hire_min
register 6 20 1 3 5
register 7 20 10 10 10
cancel 6
hire_max

In [30]:
with open('input.txt', 'r') as file:
    # 파일 내용을 한 줄씩 읽어서 리스트에 저장
    lines = file.readlines()

salary = {}
c_ability = {}
j_ability =  {}
p_ability = {}
avg_ability = {}

Q = int(lines[0])
for k in range(Q):
    query=lines[k+1].split()
    string = query[0]
    if string == 'register':
        id = int(query[1])
        salary[id] = int(query[2])
        c_ability[id] = int(query[3])
        j_ability[id] = int(query[4])
        p_ability[id] = int(query[5])
        avg_ability[id] = (c_ability[id]+j_ability[id]+p_ability[id])/3
    elif string == 'cancel':
        id = int(query[1])
        if id in salary:
            del salary[id]
            del c_ability[id]
            del j_ability[id]
            del p_ability[id]
            del avg_ability[id]
    elif string =='update':
        id = int(query[1])
        if id in salary:
            flag = int(query[2])
            if flag == 0:
                c_ability[id] = int(query[3])
            elif flag == 1:
                j_ability[id] = int(query[3])
            elif flag == 2:
                p_ability[id] = int(query[3])
            avg_ability[id] = (c_ability[id]+j_ability[id]+p_ability[id])/3
    elif string =='hire_min':
        min_sal = sorted(salary.items(), key=lambda x:x[1])
        id = min_sal[0][0]
        print(id)
        del salary[id]
        del c_ability[id]
        del j_ability[id]
        del p_ability[id]
        del avg_ability[id]
    elif string =='hire_max':
        # print(avg_ability)
        top_3 = sorted(avg_ability.items(), key=lambda x: (-x[1],-x[0]))
        for i,j in top_3[0:3]:
            print(i, end =' ')
            del salary[i]
            del c_ability[i]
            del j_ability[i]
            del p_ability[i]
            del avg_ability[i]
        print()

1400 163 538
2571 1022 1810
3733 3568 3023
1098 1802 2531
267 3984 498
2447 1823 2039
2699 200 1097
3268
227 2624 117
1893 1845 3158
1937
3575
3732 1307 573
1352 3995 232
1211
2957 693 1890
3901 1396 2085
1740 2863 2708
3057
1123
958
744 1917 3475
3867
3760
3643
1113
1966 2808 1792
2813 1557 3469
2804 3387 2492
3552
2411
3326
2874
3383 3672 3165
3665
2056 2759 3476
1729 511 664
1204 1826 3060
310
1184
3580 1440 3529
3483 2252 3397
943 167 3539
2693 103 87
1265 2624 1064
1076 1038 3496
1947 879 1074
1316
2789
3730
2112 3440 379
592
3876 3275 3903
1796 2581 3041
2128
508 2863 1182
2406
443 2613 236
2915 2012 356
1043
3910 90 3516
3934 1231 1758
3286 3560 778
2349 2755 2651
788
3106
383
3562 3327 1592
2758 1201 145
775
3022 599 3177
3663 1094 3960
514
3332 1634 1613
589 3082 2714
2857 924 2017
975 2467 1474
1857 1251 3400
2772 2216 1345
1124
1265
3665
1218
437 229 1985
982 1856 764
1797
755 1727 946
3395
294 2314 3823
238 241 490
1514 2990 3030
1390
2013 2685 2117
1087 513 920
3978
3075
1573 2369 560
2331 3373 3549
212 3220 2338
2191
65
708 3394 1335
4000
2103
2491 508 803
2028
959 7 2909
540 682 2543
2378
1348 2010 711
2182
3501 2983 461
530 1009 357
2769
642
562
3472 3057 1537
355 1359 261
3085 2525 3296
3167 3073 1054
1853
916 3635 3346
2984
1316
207 2636 1732
1903
2760
2078 3678 2951
2870
3180
3860 3218 1310
565 2312 2743
1980 193 664
1685 967 1241
2437
3436
3074 1628 1929
842
2657
1774 1099 3344
3696
127
3147 3033 3814
2003
2571
729 2716 3689
1355
137
2763
2866
2103
2836 2684 1678
2221
182
809
32 2708 3774
1925 285 211
511
470
3332
383
2517
2767
2732
1833 2285 2955
2734 1433 2857
438 3552 3397
554
533
3142
3779
1036 3642 374
1840 3599 1334
3439 3355 114
912 1789 758
2102
1421 3510 1961
3007
1234 1793 883
2090 1779 771
2129
1068
3365 2364 2246
2478
2142 3785 3420
2831
3814
3991 3655 1256
716
860 3020 3600
2290 777 1144
1542 3206 3297
3567 2544 661
650 54 3504
618
3983
400 2094 1004
566 2735 3580
3263 2523 3665
1032
183
368
551 2805 2846
421
3326
1499 2025 3621
3360 411 804
1573
2932 3938 3971
3341
752 1900 3520
370 2204 2509
3861
3289 2779 3818
3383
872 2222 2876
2295
2213 688 1708
3975 2649 2385
3251 1829 3253
3947 579 1312
2104
1682 3361 2349
3551 585 3127
148 1405 3271
1862 229 296
2389
2565 3383 3123
106
306 2007 474
26
1308
316
1247
1125
2576 529 2763
2373
3724 1669 886
3697 489 1518
2682 216 2191
1366 2943 3074
2351
3956
199 2736 1970
1676 1048 1556
3388
2940 3931 2372
2474 1696 902
1119
299 237 3627
113
3560 1192 3630
1160
2508
3681
2787 3615 825
2759
127 19 3043
1220
1736 2435 1129
3576
654
599
1692 3280 3244
1210 3705 2330
3767
2769
2333
997
454
2745
1277
37
415 2642 2826
819
2838
3590
1085
3408
3907
1601
1672 797 2930
2981 673 3727
2819
1152 3663 1498
23 709 2838
1965
622
7
994 303 2324
866
2736
3420 238 3993
2828
983
64
1241 2818 3728
2569 2197 222
2355
1700 3524 2263
1889
1851 2822 253
3246 864 1529
1900 1918 3075
1358
3701 2931 3818
1187
2432 1119 3060
2692
67 68 630
2422
611
1555
2835 3899 1512
1366 3401 2253
3857
1059
2243 3654 2288
46 585 2751
2059 2581 1984
1156 2641 3518
2970
2704 2969 1946
1580 2359 2460
44
1639 2151 834
2107
1867
1291 2506 847
386 3157 1828
722 1693 3139
653
2116 1578 2620
2437
592 937 2314
3627
1156 1285 3632
611
3538
1377 3361 3743
3289 1344 1084
2779
251
3156 748 1614
1330 908 3050
3699
3309 3986 447
3888
3570 2441 2934
3641
2359 1418 13
2142 3862 107
3935
1371 3648 2912
3278 1644 3034
1896 449 212
2311 150 2790
3137 1195 1002
2683 2999 569
3851
1718
1587
1713
3380
3228
2799
2023
3217 621 1454
3371
2437 235 1557
283
1621
847 1188 3958
3537
2492 3101 1184
1309 1620 3743
1129
3747
1536 3169 3731
3893
2683 3836 1913
3063
155 3018 3254
3765 1100 1936
445 1951 2028
2216 3286 2582
487
3546
3636
2626 2956 2832
2928
3703 789 999
421 3721 1660
2074 2906 1772
1797
2521
2478
1495 3844 2196
2083
3031
3730
3345
1121
1615
1786
2263
3371 1798 2714
2111
1531 3425 2165
1790
1912 430 2298
477
413
3832
3208 632 3998
1808 670 918
340
3690 1354 2304
2080 3238 896
1281 1684 854
1786
1603
3922 2785 1928
3597 3357 3029
882 2746 729
1921
1164
123 523 807
3944 1037 2585
2416
2772
1829
3953
3545 3690 3311
3458 372 3026
3328 2610 1851
3758 3236 1148
3371
253 1962 2280
2008 557 2360
2821
2989 1913 554
2137 3014 2268
1692 1806 3131
1238
1401 3636 44
1233 690 3265

In [ ]:
Q = int(input())
salary = {}
c_ability = {}
j_ability =  {}
p_ability = {}
avg_ability = {}

for _ in range(Q):
    query=input().split()
    string = query[0]
    if string == 'register':
        id = int(query[1])
        salary[id] = int(query[2])
        c_ability[id] = int(query[3])
        j_ability[id] = int(query[4])
        p_ability[id] = int(query[5])
        avg_ability[id] = (c_ability[id]+j_ability[id]+p_ability[id])/3
    elif string == 'cancel':
        id = int(query[1])
        if id in salary:
            del salary[id]
            del c_ability[id]
            del j_ability[id]
            del p_ability[id]
            del avg_ability[id]
    elif string =='update':
        id = int(query[1])
        if id in salary:
            flag = int(query[2])
            if flag == 0:
                c_ability[id] = int(query[3])
            elif flag == 1:
                j_ability[id] = int(query[3])
            elif flag == 2:
                p_ability[id] = int(query[3])
            avg_ability[id] = (c_ability[id]+j_ability[id]+p_ability[id])/3
    elif string =='hire_min':
        min_sal = sorted(salary.items(), key=lambda x:x[1])
        id = min_sal[0][0]
        print(id)
        del salary[id]
        del c_ability[id]
        del j_ability[id]
        del p_ability[id]
        del avg_ability[id]
    elif string =='hire_max':
        top_3 = sorted(avg_ability.items(), key=lambda x: (-x[1],-x[0]))
        for i,j in top_3[0:3]:
            print(i, end =' ')
            del salary[i]
            del c_ability[i]
            del j_ability[i]
            del p_ability[i]
            del avg_ability[i]
        print()