In [48]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.rand(5,2), columns=["A","B"])
# df[(df["A"]<.5)&(df["B"]<.5)]
print(df)
df.query("A<.5 and B<.5")
# df["A"]<0.5
# print(df)

          A         B
0  0.785617  0.064865
1  0.663521  0.120148
2  0.459722  0.333339
3  0.490951  0.904868
4  0.214353  0.090177

          A         B
2  0.459722  0.333339
4  0.214353  0.090177

In [54]:
df = pd.DataFrame(np.arange(5), columns=["num"])
def square(x):
    return x**2
print(df)
df["num"].apply(square)
df['square'] = df.num.apply(lambda x : x**2)
print(df)

   num
0    0
1    1
2    2
3    3
4    4
   num  square
0    0       0
1    1       1
2    2       4
3    3       9
4    4      16

In [55]:
def get_preprocess_phone(phone):
    mapping_dict={
        "공":"0",
        "일":"1",
        "이":"2",
        "삼":"3",
        "사":"4"
    }
    for key, value in mapping_dict.items():
        phone = phone.replace(key, value)
    return phone
get_preprocess_phone("공1공")

'010'